* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#wrapper {
  width: 100%;
}

#tabs {
  width: 60%;
  margin: auto;
  border: solid;
  border-width: 2px;
  border-color: #D1E0E0;
}

#tabs li {
  list-style: none;
  display: inline-block;
}

#tabs ul {
  background-color: #D1E0E0;
  margin: 0px;
  padding: 10px;
}

.active {
  background-color: #94B8B8;
}


