<ion-view>

  <ion-content class="padding" ng-controller="NextCheckpointCtrl">

  <div id="container2">
    <div style=" float: left; font-size:small; display:inline">{{currentGame.$id}}</div>
    <div style=" float: right; font-size:small; display:inline">Logged in as {{user.name}}</div>
  </div>

    <div ng-hide="nextCheckpoint && !currentGame.finished" ng-controller="NewGameCtrl">
      <button ng-click="selectGame()" class="button button-block button-balanced">
        Start New Game
      </button>
    </div>

    <div ng-show="nextCheckpoint && !currentGame.finished"> <!-- The user is in a game -->

       <div id="container" style = "margin:30px; background-color:{{nextCheckpoint.color}}">
          <p style = "font-size: 200%; line-height: 150%; margin:10px; color:white">{{nextCheckpoint.clue}}</p>
      </div>

      <div id="hysteresis" style = "text-align:center; margin:20px">

      </div>

      <table style="width:100%; table-layout: fixed;">
        <tr>
          <td style="text-align:center">Distance</td>
          <td style="text-align:center">Timer</td>
        </tr>
        <tr ng-controller="TimerCtrl">
          <td style="text-align:center; color:{{nextCheckpoint.color}}" ng-show="user.distance>0">{{(user.distance * 1000).toFixed()}} m away</td>
          <td ng-show="user.distance>0" style="text-align:center" id="timer" style="color:{{nextCheckpoint.color}}"></td>
        </tr>
      </table>

    </div>

    <div style = "margin:20px;" ng-controller="CheckpointsCtrl">
      <span ng-repeat="checkpoint in checkpoints">
        <button class="checkpoint" id="checkpoint-{{checkpoint.id}}" style="background-color:{{checkpoint.color}};" ng-click="checkpointPopup(checkpoint)">
          {{$index + 1}}
        </button>
        <span ng-if = "$index<4">------</span>
      </span>
    </div>

    <div ng-show="currentGame.finished"> <!-- The user has finished a game -->
      <h5>Congratulations! You've found all the checkpoints!</h5>
    </div>

  </ion-content>
</ion-view>
